<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-3.2.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <import resource="loggers.xml"/>

    <aop:aspectj-autoproxy/>

    <bean id="loggerAspect" class="com.epam.spring.xml.aspect.LoggerAspect"
          c:replaceableLogger-ref="fileEventLogger"
          c:maxCountUseConsoleLogger="2"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>client.properties</value>
                <value>JDBC.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesMode">
            <util:constant
                    static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        </property>
    </bean>

    <bean id="client" class="com.epam.spring.xml.domain.Client"
          p:greeting="${greeting}">
        <constructor-arg index="0" value="${id}"/>
        <constructor-arg index="1" value="${name}"/>
    </bean>

    <bean name="event" class="com.epam.spring.xml.domain.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

    <util:map id="loggerMap">
        <entry key="INFO" value-ref="consoleEventLogger"/>
        <entry key="ERROR" value-ref="combinedEventLogger"/>
    </util:map>

    <bean id="app" class="com.epam.spring.xml.App">
        <constructor-arg ref="client"/>
        <constructor-arg value="#{T(com.epam.spring.xml.domain.Event).isDay() ? consoleEventLogger : cacheFileEventLogger}"/>
        <constructor-arg ref="loggerMap"/>
        <property name="loggerAspect" ref="loggerAspect"/>
    </bean>

</beans>